.btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color:white;
    cursor: pointer;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.task{
    display: flex;
    justify-content: space-around;
    list-style: none;
}